.container {    
    margin: 1rem;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.nav {
    
    background-color: #000000;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 5px 5px 5px 5px;
    height: 100%;


}


.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 0.25rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;

}

.headerTitle{
    font-size: 1.7rem;
    font-family: 'poppins' sans-serif;
    margin: auto 0 auto 170px ;
    
}

.navBtns{
    margin: 0;
}

.heartBtn{
  color: red;
}

.dropDownTitle{
  font-size: 20px;
}

.userDropdown{
    margin: auto;
    width: 100%;
}
.userDropdownContent{
    width: 150px;
    padding: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1px;
    background-color: rgb(252, 244, 229);
    position: absolute;
    border: 0;
}

.dropBtn{
    
    background-color: transparent;
    border-radius: 0;
    padding: 4px;
    width: 100%;
    margin: 0;
    text-align: start;
    font-size: 20px;
}
.dropBtn:hover{
  background-color: #917a7ace;
}
.removeBtn:hover{
  background-color: red;
}

.logBtns{
  background: transparent;
  color: rgb(255, 255, 255);
    border: 0;
    margin: 0;
    
}

.logBtns:hover{
    background-color: rgb(243, 214, 170);
    color: #0c0c0c;
}

@media (max-width: 950px) {
    .nav {
        width: 100%;
        max-width: 1200px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .site-title {
      margin-top: 10px;
    }
  
    .headerTitle {
      margin-left: 10px;
    }
  }
  
  .footer {
    width: 100%;
    background-color: black;
    height: 5rem;
    display: flex;
    justify-content: center; 
  }
  
  .footerText {
    text-align: center;
    padding-top: 2rem;
  }